*{
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    font-family: 'Poppins';
}

/* navbar */

.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 40px;
}
.list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    width: 70vw;
}
.list-item{
    margin: 0px 10px;
    margin-top: 20px;
    opacity: 0.6;
}
.list-item:hover{
    opacity: 1.2;
    cursor: pointer;
    font-weight: 500;
}
.nav-button{
    padding: 14px 30px;
    background-color: #5955B3;
    color: #ffffff;
    border: 0px;
    border-radius: 0.6em;
    font-weight: 400;
}
.nav-button:hover{
    cursor: pointer;
}

/* container */
.banner-container{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    justify-content: space-between;
}
.banner-container > :first-child{
    margin-top: 50px;
    padding-right: 0px;
}
.heading-text{
    font-size: 60px;
    padding-right: 200px;
    font-weight: 800;
}
span{
    color: #5955B3;
}
.description{
    margin-top: 40px;
    margin-bottom: 60px;
    font-weight: 100;
    padding-right: 200px;
}
.btn{
    padding: 20px 40px;
    font-weight: 400;
    font-size: medium;
}
.btn:hover{
    cursor: pointer;
}
.banner-container div:nth-child(2) img{
    width: 100%;
}
.banner-container div:nth-child(2) {
    width: 120%;
}

@media screen and (max-width:1200px) {
    .banner-container div:nth-child(2) img{
        width: 100%;
    }
    .banner-container div:first-child{
        width: 100%;
        padding-right: 0px;
        margin-top: 20px;
    }
    .banner-container h1{
        font-size: 30px;
    }
}


@media screen and (max-width:996px) {
    .banner-container{
        flex-wrap: wrap;
    }
    .navbar-container img{
        width: 100px;
        margin-top: 10px;
    }
    .list{
        justify-content: space-around;
    }
    .button-group .nav-button{
        padding: 5px 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 2px;
    }
    .description{
        padding: 0px;
        margin: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .banner-container h1{
        padding-right: 0px;
    }
    .list{
        width: 60vw;
    }
}

@media screen and (max-width:602px) {
    .navbar-container{
        justify-content: space-between;
        margin: 0px;
    }
    .list{
        justify-content: flex-start;
        width: fit-content;
    }
    .list-item{
        margin-left: 5px;
    }
    .btn-group .nav-button{
        padding: 2px 5px;
        margin-top: 10px;
    }
    .navbar-container{
        padding-bottom: 0px;
        height: 47px;
    }
    .btn{
        padding: 9px 18px;
        font-weight: 500;
        font-size: 13px;
    }
}

@media screen and (max-width:577px) {
    .list-item{
        font-size: 8px;
    }
    .banner-container{
        margin-top: 0px;
    }
    .button-group .nav-button{
        font-size: 5px;
    }
    .navbar-container{
        justify-content: flex-start;
    }
}

@media screen and (max-width:352px) {
    .list{
        justify-content: flex-start;
    }
    .list-item{
        margin-left: 5px;
        margin-right: 5px;
    }
    .navbar-container img{
        width: 70px;
        margin-top: 10px;
    }
    .banner-container{
        margin-left: 10px;
    }
    .btn{
        padding: 5px 10px;
        font-weight: 500;
        font-size: 13px;
    }
}